.board {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	margin: 20px 0;
}

.square {
	width: 90px;
	height: 90px;
	display: grid;
	place-items: center;
	cursor: pointer;
	font-size: 42px;
	border: none;
	outline: 1px dotted #252525;
	outline-offset: -4px;
	background: hsl(0deg 0% 75%);
	box-shadow: inset -1px -1px #292929, inset 1px 1px #fff,
		inset -2px -2px #9e9e9e, inset 2px 2px #ffffff;
	transition: all 0.1s ease;
}

.square:hover:not(.disabled) {
	background: hsl(0deg 0% 78%);
	transform: translateY(-1px);
}

.square:active:not(.disabled) {
	box-shadow: inset -1px -1px #fff, inset 1px 1px #292929,
		inset -2px -2px #ffffff, inset 2px 2px #9e9e9e;
	transform: translateY(1px);
}

.square.disabled {
	cursor: not-allowed;
	opacity: 0.8;
}
