---
import Layout from '@/layouts/Layout.astro'
import Button from '@/components/buttons/Button'
---

<Layout title="TA-TE-TI">
	<main>
		<Button isAnchor href="/offline">Modo Offline</Button>
		<Button isAnchor href="/online">Modo Online</Button>
	</main>
</Layout>
