---
import Layout from '@/layouts/Layout.astro'
import Button from '@/components/buttons/Button'
---

<Layout title="TA-TE-TI">
	<h1>TA-TE-TI</h1>
	<section>
		<Button isAnchor href="/offline">offline</Button>
		<Button isAnchor href="/online">online</Button>
	</section>
</Layout>

<style>
	section {
		display: flex;
		gap: 20px;
		padding-top: 15px;
	}
</style>
