---
import Layout from '@/layouts/Layout.astro'
import OfflineGame from '@/components/game/OfflineGame'
import Header from '@/components/Header.astro'
---

<Layout title="TA-TE-TI - Offline">
	<Header />
	<main>
		<OfflineGame client:load />
	</main>
</Layout>
