---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="TA-TE-TI ONLINE">
	<h1>TA-TE-TI</h1>
	<section>
		<button id="create-room">CREAR SALA</button>
		<button id="join-room">UNIRSE A SALA</button>
		<!-- <h2>Fuera de servicio</h2> -->
	</section>
</Layout>

<script>
	const $buttonCreate = document.querySelector('#create-room')
	const $joinRoom = document.querySelector('#join-room')

	$buttonCreate?.addEventListener('click', async () => {
		const res = await fetch('/api/online', {
			method: 'POST'
		})

		const json = await res.json()
		console.log(json)
	})

	$joinRoom?.addEventListener('click', async () => {
		const res = await fetch('/api/online/primera-sala', {
			method: 'POST'
		})

		const json = await res.json()
		console.log(json)
	})
</script>
