---
import Layout from '@/layouts/Layout.astro'
import Header from '@/components/Header.astro'
import OnlineGame from '@/components/game/OnlineGame'
---

<Layout title="TA-TE-TI - Online">
	<Header slot="header" />
	<main>
		<OnlineGame client:load />
	</main>
</Layout>
