---
import Button from './buttons/Button'
import ArrowLeft from './icons/ArrowLeft'
---

<header>
	<Button isAnchor href="/">
		<ArrowLeft />
	</Button>
</header>

<style>
	header {
		padding-top: 10px;
		margin: 0 auto;
		display: flex;
		width: 290px;
	}
</style>
