---
import Footer from '@/components/Footer.astro'
import { ViewTransitions } from 'astro:transitions'

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Juego de ta-te-ti en línea" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link
			rel="preload"
			href="/fonts/PixelFont.woff2"
			as="font"
			type="font/woff2"
			crossorigin="anonymous"
		/>

		<ViewTransitions />
	</head>
	<body>
		<slot name="header" />
		<slot />
		<Footer />
		<style is:global>
			:root {
				font-family: 'PixelFont';
				--color-primary: #222;
				--color-secondary: #dfdfdf;

				background-color: var(--color-secondary);
				color: var(--color-primary);
				margin: 0 auto;
				max-width: 710px;
			}
			@font-face {
				font-family: 'PixelFont';
				src: url('/fonts/PixelFont.woff2') format('woff2');
				font-weight: normal;
				font-style: normal;
				font-display: swap;
			}
			body {
				text-align: center;
				margin: 0;
				padding: 0;
				display: flex;
				flex-direction: column;
				min-height: 100dvh;
			}
			main {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				flex-grow: 1;
			}
			*,
			*::before,
			*::after {
				box-sizing: border-box;
			}
			html {
				font-family: 'PixelFont', system-ui, sans-serif;
				scroll-behavior: smooth;
			}
			a {
				text-decoration: none;
			}
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				text-wrap: balance;
			}
			p {
				text-wrap: pretty;
			}
			ul {
				padding: 0;
				list-style: none;
			}
			h1 {
				font-size: 4rem;
				margin: 0;
			}

			.back-button {
				position: absolute;
				top: 16px;
				left: 16px;
			}

			.controls {
				display: flex;
				gap: 10px;
				margin: 20px 0;
				justify-content: center;
				align-items: center;
			}

			/* Estilo para el input en Online */
			.controls input {
				font-family: 'PixelFont';
				border: none;
				outline: 1px dotted #252525;
				outline-offset: -4px;
				background: #bfbfbf;
				box-shadow:
					inset -1px -1px #292929,
					inset 1px 1px #fff,
					inset -2px -2px #9e9e9e,
					inset 2px 2px #ffffff;
				padding: 8px;
				width: 140px;
				text-align: center;
				color: var(--color-primary);
			}
		</style>
	</body>
</html>
